body {
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: grayscale;
}
/*@media only screen and (min-width: 370px) {

  nav.ui.container .ui.header {
    float: left;
    margin-top: 8px;
  }

  nav.ui.container .ui.inverted.compact.menu {
    float: right;
  }

}

@media (max-width: 370px) {

  .ui.inverted.vertical.center.aligned.segment {
    padding-bottom: 100px;
  }

}

.ui.inverted.vertical.center.aligned.segment {
  padding-top: 28px;
}

nav.ui.container .ui.inverted.compact.menu {
  background-color: rgb(51, 51, 51);
}

nav.ui.container .ui.inverted.compact.menu .item {
  padding-bottom: 0;
}

nav.ui.container .ui.inverted.compact.menu .item {
  font-size: 16px;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 14px;
  margin-left: 16px;
  margin-right: 16px;
  border-radius: 0;
}

nav.ui.container .ui.inverted.compact.menu .active.item {
  background-color: inherit;
  border-bottom-color: white;
  border-bottom-style: solid;
  border-bottom-width: 2px;
}*

.ui.inverted.vertical.segment {
  height: 100px;
  background-color: rgb(51, 51, 51);
}

.ui.vertical.stripe h3 {
  font-size: 2em;
}

.ui.vertical.stripe .button + h3,
.ui.vertical.stripe p + h3 {
  margin-top: 3em;
}

.ui.vertical.stripe .floated.image {
  clear: both;
}

.ui.vertical.stripe p {
  font-size: 1.33em;
}

.ui.vertical.stripe .horizontal.divider {
  margin: 3em 0em;
}

.quote.stripe.segment {
  padding: 0em;
}

.quote.stripe.segment .grid .column {
  padding-top: 5em;
  padding-bottom: 5em;
}*/

.ui.vertical.stripe {
  padding: 8em 0em;
}