{% extends "base.html" %}

{% load static %}
{% load i18n %}

{% block content %}

<section class="hero is-fullheight-with-navbar">
  <div class="hero-body">
    <div class="container">
      <div class="columns is-centered">
        <div class="column is-three-fifths">
          <div class="box">

            {% if user.is_authenticated %}
              <p>{% trans "У вас нет доступа к этой странице" %}</p>
            {% else %}
              <p class="title is-4 has-text-centered">{% trans "Authorization" %}</p>

              <form method="post" action="{% url 'login' %}">
                {% csrf_token %}
                <div class="field is-horizontal">
                  <div class="field-label is-normal">
                    <label class="label">{{ form.username.label_tag }}</label>
                  </div>
                  <div class="field-body">
                    <div class="field">
                      <div class="control">
                        <input class="input" id="id_username" name="username" type="text" required>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="field is-horizontal">
                  <div class="field-label is-normal">
                    <label class="label">{{ form.password.label_tag }}</label>
                  </div>
                  <div class="field-body">
                    <div class="field">
                      <div class="control">
                        <input class="input" id="id_password" type="password" name="password" required>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="field is-horizontal">
                  <div class="field-label">
                  </div>
                  <div class="field-body">
                    <div class="field">
                      <div class="control">
                        <button class="button is-primary" type="submit">
                          {% trans "Log in" %}
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
                <input type="hidden" name="next" value="{{ next }}" />
              </form>

            {% endif %}

            {% if form.errors %}
              <div class="notification is-danger">
                {% trans "Неверный логин или пароль" %}
              </div>
            {% endif %}

          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}
