{% extends "project_page.html" %}

{% load static %}

{% block project-content %}


<h4 class="mb-4 mt-2">Аннотации</h4>
<div id="project-annotaion" class="card w-75">
	<div class="card-header">
		<span class="badge badge-pill badge-info">Label1</span>
		<span class="badge badge-pill badge-danger">Label2</span>
	</div>
	<div class="card-body">
		<p v-for="seq in doc_data">${seq.text}</p>
		<div class="d-flex justify-content-between">
			<b-button variant="primary" @click="onPrev()">Предыдущий</b-button>
			<b-button variant="primary" @click="onNext()">Следующий</b-button>
		</div>
	</div>

	<!-- <button type="button" class="btn" @click="onNext()">Next</button> -->
</div>

{% endblock %}

{% block js-script %}
  <script src="{% static 'js/project_tl_annotation.js' %}"></script>
{% endblock %}