{% extends "project_page.html" %}

{% load static %}

{% block project-content %}

<div id="project-import" class="card">
  <div class="card-body">
    <h5 class="card-title">Выберите тип файла для загрузки</h5>
    <div class="tabset">
    
      <input type="radio" name="tabset" v-model="format" id="tab1" aria-controls="conllu" value="conllup">
      <label for="tab1">conllu</label>
      
      <input type="radio" name="tabset" v-model="format" id="tab2" aria-controls="some" value="some">
      <label for="tab2">Что-то ещё</label>

      <div class="tab-panels">
        <section id="conllu" class="tab-panel">
          <h2>CoNLL-U Plus</h2>
          <p>Является расширением формата CoNLL-U. Может иметь любое количество столбцов. <a href="https://universaldependencies.org/ext-format.html">Формат.</a></p>
          <p>Пример:</p>
          <pre class=table-dark>
  # global.columns = FORM NE

  This	_
  is	VERB
  only	_
  example	_ 
          </pre>
        </section>
      
        <section id="some" class="tab-panel">
          <h2>Другой формат</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum nihil deleniti labore eos ratione, omnis nam fuga dignissimos architecto eum temporibus voluptate molestiae iusto ipsam, quisquam rem hic mollitia earum.</p>
        </section>

      </div>

    </div>

    <form>
      <div class="form-group">
        <div class="input-group input-file" name="file">
          <input type="file" id="files" ref="files" v-on:change="handleFileUpload()"/>
        </div>
      </div>
      <div class="form-group">
        <button type="button" class="btn btn-primary pull-right" @click="uploadFiles({{project.id}})">Загрузить</button>
      </div>
    </form>
  </div>
</div>

{% endblock %}

{% block js-script %}
  <script src="{% static 'js/project_import.js' %}"></script>
{% endblock %}