{% extends "project_page.html" %}

{% load static %}
{% load i18n %}

{% block title %}<title> Shanno - {{ project.name }} [Annotation] </title>{% endblock %}

{% block project-content %}

<div id="project-annotaion">
  <b-notification
  :type="st_variant"
  aria-close-label="Close notification"
  role="alert"
  :active.sync="st_show"
  v-show="st_show">
  ${ st_value }
  </b-notification>
  <h4 class="title is-spaced is-4">{% trans "Annotation" %}</h4>
  <h6 class="subtitle is-6">{% trans "File name" %}: ${doc.file_name}</h6>
  <div class="level">
    <div class="level-left">
      <div class="level-item">
        <div class="field">
          <b-switch 
          type="is-success"
          v-model="is_approved"
          @input="onChangeApproved()">
            <span v-if="is_approved">{% trans "Verified" %}</span>
            <span v-if="!is_approved">{% trans "Not verified" %}</span>
          </b-switch>
        </div>
      </div>
    </div>
    <div class="level-right">
      <div class="level-item">
        <b-button class="is-pulled-right is-relative" type="is-danger" outlined @click="resetLabels()">{% trans "Reset labels" %}</b-button>
      </div>
    </div>
  </div>
  <div class="card">
    <header class="card-header">
      <div class="column">
        <div class="field is-grouped is-grouped-multiline">
          <div 
          class="control"
          v-for="label in labels">
            <div class="tags has-addons">
              <a 
              class="tag"
              :style="{'background-color': label.color_background, color: label.color_text}"
              @click="createLabel(label.id)">
              ${label.name}
              </a>
              <span class="tag is-dark">${ label.prefix_key } : ${ label.suffix_key }</span>
            </div>
          </div>
        </div>
      </div>
    </header>
    <div class="card-content">
      <div class="tl_anno_row" v-for="data in doc_render" @click="setSelectedRange(data.obj.id)">
        <span v-for="(chunk, i_chunk) in data.chunks"
        v-bind:class="{ tag: chunk.type == 'label', 'is-medium': chunk.type == 'label' }"
        v-bind:style="[chunk.type == 'label' ? {
        'background-color': labels_hash[chunk.obj.label].color_background,
        'color': labels_hash[chunk.obj.label].color_text,
        'text-indent': '0px'} : {}]"
        :id="i_chunk">
          <template v-if="chunk.type == 'label'">
            <b-tooltip :label="labels_hash[chunk.obj.label].name" type="is-dark" animated>${chunk.text}</b-tooltip>
          </template>
          <template v-else>${chunk.text}</template>
          <button 
          v-if="chunk.type == 'label'"
          @click="onDeleteLabel(chunk.obj.id, data.obj.id, i_chunk)"
          type="button"
          class="delete is-small">
          </button>
        </span>
      </div>
    </div>
  </div>
  <div class="column">
    <div class="level">
      <div class="level-left">
        <div class="level-item">
          <button class="button is-primary is-outlined" @click="onPrev()" :disabled="!bt_prev_enable">
            <span class="icon">
              <i class="fas fa-chevron-left"></i>
            </span>
            <span>{% trans "Previous" %}</span>
          </button>
        </div>
      </div>
      <div class="level-right">
        <div class="level-item">
          <button class="button is-primary is-outlined" @click="onNext()" :disabled="!bt_next_enable">
            <span>{% trans "Next" %}</span>  
            <span class="icon">
              <i class="fas fa-chevron-right"></i>
            </span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}

{% block js-script %}
  <script src="{% static 'js/project_tl_annotation.js' %}"></script>
{% endblock %}
