{% extends "project_page.html" %}

{% load static %}
{% load i18n %}

{% block title %}<title> Shanno - {{ project.name }} [Export] </title>{% endblock %}

{% block project-content %}

<div id="project-export">
    <b-notification
    :type="st_variant"
    aria-close-label="Close notification"
    role="alert"
    :active.sync="st_show"
    v-show="st_show">
    ${ st_value }
  </b-notification>
  
  <div class="column">
    <h5 class="title is-5">{% trans "Select the type of file for download" %}</h5>
  </div>

  <div class="column">
    <b-tabs v-model="selected">
      {% for format, format_label, description, example in format_docs %}
        <b-tab-item label="{{ format_label }}" value="{{ format }}">
          <p>{{ description |safe }}</p>
          {% if example %}
            <p>{% trans "Example:" %}</p>
            <pre class="has-background-dark has-text-white">{{ example }}</pre>
          {% endif %}
        </b-tab-item>
      {% endfor %}
    </b-tabs>
  </div>

  <div class="column">
    {% trans "Download zip archive, which contains files in select format." %}
  </div>

  <div class="column">
        <button 
        class="button is-link"
        v-bind:class="{ 'is-loading': is_process }"
        @click="download({{project.id}})">
        {% trans "Download" %}
      </button>
  </div>
</div>

{% endblock %}

{% block js-script %}
  <script src="{% static 'js/project_export.js' %}"></script>
{% endblock %}