{% extends "project_page.html" %}

{% load static %}
{% load i18n %}

{% block title %}<title> Shanno - {{ project.name }} [Import] </title>{% endblock %}

{% block project-content %}

<div id="project-import">
  <b-notification
    :type="st_variant"
    aria-close-label="Close notification"
    role="alert"
    :active.sync="st_show"
    v-show="st_show">
    ${ st_value }
  </b-notification>

  <div class="column">
    <h5 class="title is-5">{% trans "Select the type of file for upload" %}</h5>
  </div>

  <div class="column">
    <b-tabs v-model="selected">
      {% for format, format_label, description, example in format_docs %}
        <b-tab-item label="{{ format_label }}" value="{{ format }}">
          <p>{{ description |safe }}</p>
          {% if example %}
            <p>{% trans "Example:" %}</p>
            <pre class="has-background-dark has-text-white">{{ example }}</pre>
          {% endif %}
        </b-tab-item>
      {% endfor %}
    </b-tabs>
  </div>

  <div class="column">
    {% trans "Supports to upload file as archivs: zip." %}
  </div>
    
  <div class="column">
    <b-field grouped>
      <p class="control">
        <b-button 
          class="button is-link"
          @click="uploadFiles({{project.id}})"
          :disabled="files === null"
          :loading="is_loading">
          {% trans "Upload" %}
        </b-button>
      </p>
      <b-upload v-model="files"></b-upload>
    </b-field>
  </div>

</div>

{% endblock %}

{% block js-script %}
  <script src="{% static 'js/project_import.js' %}"></script>
{% endblock %}