{% extends "base.html" %}

{% load static %}

{% block title %}<title> Shanno - Projects </title>{% endblock %}

{% block content %}

<section id="app-projects" class="section">
  <b-notification
  type="is-danger"
  aria-close-label="Close notification"
  role="alert"
  :active.sync="st_show"
  v-show="st_show">
  ${ st_value }
  </b-notification>
  <div class="container" style="padding: 2rem 0 2rem 0">
    <p class="title is-2">Создание проекта</p>
  </div>
  <div class="container">
    <b-field label="Название">
      <b-input v-model="name" placeholder="Необходимо ввести название проекта" required></b-input>
    </b-field>
    <b-field label="Описание">
      <b-input maxlength="200" type="textarea" v-model="description" placeholder="Необходимо описать кратко назначение проекта" required></b-input>
    </b-field>
    <b-field label="Тип проекта">
      <b-select placeholder="Выберите тип проекта" v-model="type" expanded required>
        <option value="text_label">Text labeling</option>
      </b-select>
    </b-field>
    <b-field>
      <p class="control">
        <b-button class="button is-success" @click="onSubmit()">Создать</b-button>
        <b-button class="button is-danger" @click="$router.go(-1)">Отменить</b-button>
      </p>  
    </b-field>
  </div>
</section>


{% endblock %}

{% block js-script %}
  <script src="{% static 'js/project_create.js' %}"></script>
{% endblock %}
