{% extends "base.html" %}

{% load static %}

{% block title %}<title> Shanno - {{ project.name }} </title>{% endblock %}

{% block content %}

<section class="columns is-marginless">
  <aside class="column is-2 hero is-fullheight is-main-color">
    <div class="hero-head">
      <p class="menu-label is-size-6 has-text-white has-text-centered">
        {{ project.name }}
      </p>
      <ul class="menu-list">
        <li><a href="/projects/{{project.id}}/" class="{% if request.resolver_match.kwargs.action is None %}is-active{% endif %} has-text-white">Инфо</a></li>
        <li><a href="import" class="{% if request.resolver_match.kwargs.action == 'import' %}is-active{% endif %} has-text-white">Импорт</a></li>
        <li><a href="export" class="{% if request.resolver_match.kwargs.action == 'export' %}is-active{% endif %} has-text-white">Экспорт</a></li>
        <hr>
        <li><a href="tl-labels" class="{% if request.resolver_match.kwargs.action == 'tl-labels' %}is-active{% endif %} has-text-white">Метки</a></li>
        <hr>
        <li><a href="settings" class="{% if request.resolver_match.kwargs.action == 'settings' %}is-active{% endif %} has-text-white">Настройки</a></li>
      </ul>
    </div>
  </aside>
  <div class="column is-10">

    {% block project-content %}

    <div id="project-page">
      <div class="column">
        <h4 class="subtitle is-5">
          <span class="tag is-link">{{ project.type }}</span>
        Описание: {{ project.description }}</h4>
      </div>
      <div class="column is-one-third">
        <div class="progress-wrapper">
          <progress class="progress is-info is-large" :value="stat_docs_approved" :max="stat_docs_total">Обработано: <strong>${ stat_docs_approved } / ${ stat_docs_total }</strong></progress>
          <p class="progress-value has-text-black">Обработано: <strong>${ stat_docs_approved } / ${ stat_docs_total }</strong></p>
        </div>
      </div>
      <div class="column">
        <p class="title is-5">Список документов:</p>
      </div>
      <div class="column">
        <b-field horizontal label="Отфильтровать">
          <b-select v-model="filter_approved" @input="changeFilterApproved()">
            <option value="0">Не проверен</option>
            <option value="1">Проверен</option>
          </b-select>
        </b-field>
      </div>
      <div 
      class="column box"
      id="docs-table"
      :item="doc"
      :key="doc.id"
      v-for="(doc, index) in docs">
      <div class="columns">
        <div class="column">
          <p class="header">${doc.file_name}</p>
          <p class="subtitle is-6">${doc.sequence_preview }</p>
        </div>
        <div class="column is-one-quarter">
          <div class="right-block">
            <button @click="gotoAnnotation(doc.id)" class="button is-info">Аннотация</button>
            <button class="button is-danger is-outlined" @click="openDelete(index)">Удалить</button>
          </div>
        </div>
      </div>
      <div class="notification is-info" style="margin-bottom: 1rem" v-show="is_open_delete == index">
        <p>Вы действительно хотите удалить документ?</p>
        <br>
        <div class="field is-grouped">
          <p class="control">
            <button class="button is-success is-inverted is-outlined is-small" @click="deleteDoc(doc.id)">Да</button>
          </p>
          <p class="control">
            <button class="button is-danger is-inverted is-outlined is-small" @click="closeDelete()">Нет</button>
          </p>
        </div>
      </div>
    </div>
    <b-pagination
    :total="docs_total"
    :current.sync="current_page"
    :per-page="docs_by_page"
    order="is-centered"
    range-before="1"
    range-after="3"
    icon-pack="fa"
    icon-prev="chevron-left"
    icon-next="chevron-right"
    @change="getAllDocumentPage">
    </b-pagination>
    
    {% endblock %}

  </div>
</section>

{% endblock %}

{% block js-script %}
  <script src="{% static 'js/project_page.js' %}"></script>
{% endblock %}