{% extends "project_page.html" %}

{% load static %}

{% block title %}<title> Shanno - {{ project.name }} [Labels] </title>{% endblock %}

{% block project-content %}

<div id="project-labels">
  <div class="columns is-multiline">
    <div class="column is-full">
      <button class="button is-primary" @click="createLabel()">Новая метка</button>
    </div>
    <div class="column is-full" v-if="new_label">
      <div class="box has-background-white">
        <div class="columns is-multiline is-vcentered">
          <div class="column is-full">
            <div class="tags are-medium has-addons">
              <span class="tag has-addons" :style="{color: new_label.color_text, backgroundColor: new_label.color_background}">${ new_label.name }</span>
              <span class="tag is-dark has-addons">${ new_label.prefix_key } : ${ new_label.suffix_key }</span>
            </div>
          </div>
          <div class="column">
            <b-field label="Название метки">
              <b-field>
                <b-input v-model="new_label.name" expanded></b-input>
                <p class="control">
                  <button class="button" @click="getColor(new_label)">
                    <span class="icon">
                      <i class="fas fa-palette"></i>
                    </span>
                    <span>Цвет</span>
                  </button>
                </p>
              </b-field>
            </b-field>
          </div>
          <div class="column">
            <b-field label="Горячие клавиши">
              <b-field>
                <b-select v-model="new_label.prefix_key" expanded>
                  <option value="ctrl">ctrl</option>
                  <option value="shift">shift</option>
                </b-select>
                <b-select v-model="new_label.suffix_key" expanded>
                  <option
                  v-for="key in hot_keys"
                  :value="key"
                  :key="key">
                  ${ key }
                </option>
              </b-select>
            </b-field>
          </div>
          <div class="column">
            <div class="field">
              <label class="label">&nbsp;</label>
              <div class="field is-grouped">
                <div class="control">
                  <button class="button is-success" @click="postLabel()">
                    <span class="icon is-small">
                      <i class="fas fa-check"></i>
                    </span>
                    <span>Добавить метку</span>
                  </button>
                </div>
                <div class="control">
                  <button class="button is-danger is-outlined" @click="cancelCreate()">
                    <span>Отменить</span>
                    <span class="icon is-small">
                      <i class="fas fa-times"></i>
                    </span>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card">
    <header class="card-header">
      <p class="card-header-title">
        Метки в проекте - ${labels.length}
      </p>
    </header>
    <div class="card-content">
      <div v-for="label in labels" :key="label.id">
        <nav class="level is-desktop">
          <div class="level-left">
            <div class="level-item">
              <div class="tags has-addons are-medium">
                <span class="tag has-addons" :style="{color: label.color_text, backgroundColor: label.color_background}">${ label.name }</span>
                <span class="tag is-dark has-addons">${ label.prefix_key } : ${ label.suffix_key }</span>
              </div>
            </div>
          </div>
          <div class="level-right">
            <div class="level-item">
              <b-field groupped>
                <p class="control">
                  <button class="button is-text" @click="editLabel(label)">
                    <span class="icon is-small">
                      <i class="fas fa-pen"></i>
                    </span>
                    <span>Редактировать</span>
                  </button>
                </p>
                <p class="control">
                  <button class="button is-text" @click="deleteLabel(label)">
                    <span class="icon is-small">
                      <i class="fas fa-trash-alt"></i>
                    </span>
                    <span>Удалить</span>
                  </button>
                </p>
              </b-field>
            </div>
          </div>
        </nav>
        <div class="columns" style="margin-bottom: 1rem" v-show="label === active_edit">
          <div class="column">
            <b-field label="Название метки">
              <b-field>
                <b-input v-model="label.name" expanded></b-input>
                <p class="control">
                  <button class="button" @click="getColor(label)">
                    <span class="icon">
                      <i class="fas fa-palette"></i>
                    </span>
                    <span>Цвет</span>
                  </button>
                </p>
              </b-field>
            </b-field>
          </div>
          <div class="column">
            <b-field label="Горячие клавиши">
              <b-field>
                <b-select v-model="label.prefix_key" expanded>
                  <option value="ctrl">ctrl</option>
                  <option value="shift">shift</option>
                </b-select>
                <b-select v-model="label.suffix_key" expanded>
                  <option
                  v-for="key in hot_keys"
                  :value="key"
                  :key="key">
                  ${ key }
                </option>
              </b-select>
            </b-field>
          </div>
          <div class="column">
            <div class="field">
              <label class="label">&nbsp;</label>
              <div class="field is-grouped">
                <div class="control">
                  <button class="button is-success" @click="saveEditChanges(label)">
                    <span class="icon is-small">
                      <i class="fas fa-save"></i>
                    </span>
                    <span>Сохранить изменения</span>
                  </button>
                </div>
                <div class="control">
                  <button class="button is-danger is-outlined" @click="repealEdit(label)">
                    <span>Отменить</span>
                    <span class="icon is-small">
                      <i class="fas fa-times"></i>
                    </span>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}

{% block js-script %}
  <script src="{% static 'js/project_tl_labels.js' %}"></script>
{% endblock %}