{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
  {% block title %}<title> Shanno - Annotation documents </title>{% endblock %}

  <meta charset="utf-8">
  <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible" />
  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />

  <!-- <link rel="stylesheet" href="https://unpkg.com/buefy/dist/buefy.min.css"> -->
  <link rel="stylesheet" href="https://unpkg.com/bulmaswatch/darkly/bulmaswatch.min.css">

  <!-- <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"> -->
  <!-- <link rel="stylesheet" type="text/css" href="{% static 'css/bulma-tag.css' %}"> -->
  <link rel="stylesheet" type="text/css" href="{% static 'css/awfont.min.css' %}">

  {% if DEBUG %}
    <script src="{% static 'js/ex/vue.js' %}"></script>
  {% else %}
    <script src="{% static 'js/ex/vue.min.js' %}"></script>
  {% endif %}
  <!-- <script src="{% static 'js/bootstrap-vue.min.js' %}"></script> -->
  <script src="https://unpkg.com/buefy/dist/buefy.min.js"></script>
  <script src="{% static 'js/ex/axios.min.js' %}"></script>
  <script src="{% static 'js/ex/vue-router.min.js' %}"></script>
</head>
<body>

  <!-- Menu -->
  <b-navbar id="menu" class="is-dark">
    <template slot="brand">
      <b-navbar-item href="/">
        <span class="is-size-5">Shanno</span>
      </b-navbar-item>
    </template>
    <template slot="start">
      <b-navbar-item class="{% if request.resolver_match.url_name == 'index' %}is-active{% endif %}" href="/">
        Home
      </b-navbar-item>
      <b-navbar-item class="{% if request.resolver_match.url_name|slice:':8' == 'projects' %}is-active{% endif %}" href="/projects/">
        Projects
      </b-navbar-item>
    </template>
  </b-navbar>

  <section class="section">
    {% block content %}
    {% endblock %}
  </section>

  <script type="text/javascript">
    new Vue({
      el: '#menu'
    })
  </script>
  {% block js-script %}
  {% endblock %}

</body>
</html>
