{% load static %}
{% load i18n %}

<!DOCTYPE html>
<html lang="ru">
<head>
  {% block title %}<title>{% trans "Shanno - Annotation documents" %}</title>{% endblock %}

  <meta charset="utf-8">
  <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible" />
  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />

  <link rel="stylesheet" href="https://unpkg.com/bulmaswatch/flatly/bulmaswatch.min.css">

  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/awfont.min.css' %}">

  {% if DEBUG %}
    <script src="{% static 'js/ex/vue.js' %}"></script>
  {% else %}
    <script src="{% static 'js/ex/vue.min.js' %}"></script>
  {% endif %}

  <script src="{% static 'js/ex/buefy.min.js' %}"></script>
  <script src="{% static 'js/ex/axios.min.js' %}"></script>
  <script src="{% static 'js/ex/vue-router.min.js' %}"></script>
  <script src="{% static 'js/ex/vue-cookies.min.js' %}"></script>
</head>
<body>

  <!-- Menu -->
  <b-navbar id="menu" class="is-main-color">
    <template slot="brand">
      <b-navbar-item href="/" class="box-link">
        <span class="is-size-5">Shanno</span>
      </b-navbar-item>
    </template>
    <template slot="start">
      <b-navbar-item class="{% if request.resolver_match.url_name == 'index' %}is-active{% endif %}" href="/">
        {% trans "Home" %}
      </b-navbar-item>
      <b-navbar-item class="{% if request.resolver_match.url_name|slice:':7' == 'project' %}is-active{% endif %}" href="/">
        {% trans "Projects" %}
      </b-navbar-item>

    </template>

    <template slot="end">
      {% if user.is_authenticated %}
        <b-navbar-item tag="div">
          <p>
            <strong class="has-text-white">{{ user.get_username }}</strong>
          </p>
        </b-navbar-item>
      {% endif %}
      
<!--       <b-navbar-item tag="div">
        {% get_current_language as LANGUAGE_CODE %}
        <form name="myForm" action="{% url 'set_language' %}" method="post">{% csrf_token %}
          <input name="next" type="hidden" value="{{ redirect_to }}">
          <div class="select is-success">
            <select name="language" onchange="this.form.submit()">
              {% get_current_language as LANGUAGE_CODE %}
              {% get_available_languages as LANGUAGES %}
              {% get_language_info_list for LANGUAGES as languages %}
              {% for language in languages %}
                <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected{% endif %}>
                  {{ language.name_local }} ({{ language.code }})
                </option>
             {% endfor %}
            </select>
          </div>
        </form>
      </b-navbar-item> -->

      <b-navbar-item tag="div">
        {% get_current_language as LANGUAGE_CODE %}
        {% get_available_languages as LANGUAGES %}
        {% get_language_info_list for LANGUAGES as languages %}
        <form id="form-language" action="{% url 'set_language' %}" method="post">
          {% csrf_token %}
          <input name="next" type="hidden" value="{{ redirect_to }}">
          <input name="language" type="hidden" id="value-language" v-model="language">
          
          <b-dropdown value="{{ LANGUAGE_CODE }}" v-on:change="onChangeLanguage" aria-role="list">
            <button class="button is-link is-inverted is-outlined" type="button" slot="trigger">
                <template><span>{{ LANGUAGE_CODE }}</span></template>
                <b-icon pack="fas" icon="angle-down"></b-icon>
            </button>
            {% for language in languages %}
              <b-dropdown-item value="{{ language.code }}" aria-role="listitem">
                <div class="media">
                  <div class="media-content"><h3>{{ language.name_local }}</h3></div>
                </div>
              </b-dropdown-item>
            {% endfor %}
          </b-dropdown>
        </form>
      </b-navbar-item>

      {% if user.is_authenticated %}
        <b-navbar-item tag="div">
          <a class="button is-danger is-inverted is-outlined" href="{% url 'logout'%}?next={{request.path}}">
            {% trans "Sign out" %}
          </a>
        </b-navbar-item>
      {% else %}
        <b-navbar-item tag="div">
          <a class="button is-success" href="{% url 'login'%}?next={{request.path}}">
            {% trans "Sign in" %}
          </a>
        </b-navbar-item>
      {% endif %}

    </template>
  </b-navbar>

  {% block content %}
  {% endblock %}

  <script type="text/javascript">
    new Vue({
      el: '#menu',
      delimiters: ['${', '}'],
      data: {
        language: ''
      },
      methods: {
        onChangeLanguage: function(item){
          document.getElementById("value-language").value = item;
          // this.language = item;
          document.getElementById('form-language').submit();
          // fdata = new FormData();
          // fdata.set('language', item);
          // fdata.set('next', "{{ redirect_to }}");
          // axios.post(
          //   "{% url 'set_language' %}",
          //   fdata,
          //   {
          //     headers: {
          //       'Content-Type': 'multipart/form-data',
          //       'X-CSRFToken': this.$cookies.get('csrftoken')
          //     }
          //   }
          //   )
          // .then(function (response) {
          //   location.reload();
          // });
        }
      }
    })
  </script>
  {% block js-script %}
  {% endblock %}

</body>
</html>
